.botonesContador{
    margin: 10px;
    height: 40px;
    width: 40px;
    color: white;
    background-color: grey;
    font-weight: bold;
}

.cantidad{
    height: 40px;
    width: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 1.3rem;
}

.oneCount{
    padding-left: 60px;
    align-items: center;
}

.boton{
    width: 150px;
    background-color: green;
    color: white;
    
}