.cardDet{
    align-items: center;
    margin: 1rem;
    height: 50rem;
    width: 50rem;
}


.precio{
    font-size: 1.3rem;
    text-align: center;
    font-weight: bold;
    color: green;
}

.details{
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
}