.oneCard{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 100px;
    grid-auto-rows: minmax(100px, auto);
    align-items: center;
    justify-content: space-between;
}

.fourCards{
    display:flex;
    height: 50%;
}
