.sections{
  display: flex;
  justify-content: space-between;
}

.titulo{
  color: green;  
  margin: 10px 0 35px 25px;
  width: 50%;
  float: left;
}

.seleccion{
  margin: 20px 70px 0 0;
  color:blue;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: serif;
  
}