.navigation{
  background-color: rgb(235, 230, 230);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: 20px;
  font-size: 1.5rem;
}

.carrito{
  margin-right: 6px;
}