.botonesContador{
    margin: 10px;
    height: 40px;
    width: 40px;
    color: white;
    background-color: grey;
    font-weight: bold;
}

.cantidad{
    height: 40px;
    width: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 1.3rem;
}

.oneCount{
    padding-left: 60px;
}